[Unit]
Description=OpenVNet agent process
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/openvnet
WorkingDirectory=${VNET_ROOT}/vnet
ExecStart=/usr/bin/scl enable rh-ruby23 -- bundle exec ./bin/vna >> ${LOG_DIRECTORY}/vna.log


[Install]
WantedBy=multi-user.target
