[Unit]
Description=OpenVNet agent process
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/openvnet
WorkingDirectory=${VNET_ROOT}/vnet
ExecStart=/opt/axsh/openvnet/ruby/bin/bundle exec ./bin/vna >> ${LOG_DIRECTORY}/vna.log


[Install]
WantedBy=multi-user.target
