[Unit]
Description=OpenVNet manager node
After=network.target remote-fs.target nss-lookup.target

[Service]
User=vnet-vnmgr
Type=simple
WorkingDirectory=/opt/axsh/openvnet/vnet
Environment="PATH=/opt/axsh/openvnet/ruby/bin:/usr/sbin:/usr/bin"
ExecStart=/opt/axsh/openvnet/vnet/bin/vnmgr
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
