[Unit]
Description=OpenVNet REST API process
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/openvnet
Environment=BIND_ADDR=0.0.0.0 PORT=9090 RACK_ENV=production
User=vnet-webapi
SyslogIdentifier=vnet-webapi
WorkingDirectory=/opt/axsh/openvnet/vnet
StandardOutput=/var/log/openvnet/webapi.log
StandardError=/var/log/openvnet/webapi.log
ExecStartPre=journalctl --vacuum-time=1seconds vnet-webapi
ExecStart=/usr/bin/scl enable ${SCL_RUBY} -- bundle exec unicorn -o ${BIND_ADDR} -p ${PORT} ./rack/config-webapi.ru

[Install]
WantedBy=multi-user.target
