[Unit]
Description=OpenVNet agent process
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/openvnet
SyslogIdentifier=vnet-vna
WorkingDirectory=/opt/axsh/openvnet/vnet
ExecStart=/bin/bash -c "/usr/bin/scl enable ${SCL_RUBY} -- bundle exec ./bin/vna >> ${LOG_DIRECTORY}/vna.log 2>&1"

[Install]
WantedBy=multi-user.target
