[Unit]
Description=OpenVNet Redis monitor process
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/openvnet
User=vnet-redis-monitor
SyslogIdentifier=vnet-redis-monitor
WorkingDirectory=/opt/axsh/openvnet/vnet
ExecStart=/usr/bin/scl enable ${SCL_RUBY} -- bundle exec ./bin/redis-monitor >> ${LOG_DIRECTORY}/vnmgr.log

[Install]
WantedBy=multi-user.target
