[Unit]
Description=OpenVNet agent process
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/openvnet
SyslogIdentifier=vnet-vna
WorkingDirectory=/opt/axsh/openvnet/vnet
StandardOutput=file:${LOG_DIRECTORY}/vna.log
StandardError=file:${LOG_DIRECTORY}/vna.log
ExecStartPre=journalctl --vacuum-time=1seconds vnet-vna
ExecStart=/usr/bin/scl enable ${SCL_RUBY} -- bundle exec ./bin/vna

[Install]
WantedBy=multi-user.target
