[Unit]
Description=OpenVNet management process
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/openvnet
User=vnet-vnmgr
SyslogIdentifier=vnet-vnmgr
WorkingDirectory=/opt/axsh/openvnet/vnet
ExecStartPre=/usr/bin/redis-cli MONITOR >> ${LOG_DIRECTORY}/redis.log 2>&1 &
ExecStart=/usr/bin/scl enable ${SCL_RUBY} -- bundle exec ./bin/vnmgr >> ${LOG_DIRECTORY}/vnmgr.log

[Install]
WantedBy=multi-user.target
